@media only screen and (max-width: 600px) {
    .contact-container {
        font-size: 1.5rem !important;
    }
}

.contact-container {
    margin: auto;
    margin-bottom: 1rem;
    justify-content: space-around;
    align-items: center;
    /*border: #479d39 dashed 2px;*/
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-pack: distribute;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 2rem;
    width: 93vw;
}

.contact-container a {
    text-decoration: none;
    color: #479d39;
    border-radius: 10px;
    border: #479d39 solid 3px;
    padding: 0.4rem;
}

.contact-container a:visited {
    text-decoration: none;
    color: #479d39;
}

.contact-container a:hover {
    text-decoration: none;
    color: #35732c;
    border: #35732c dashed 3px;
}